/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

 @import "framework_and_overrides";
 @import "color_picker";
 @import "border_radius";

html {
  background: #eee;
}

div.content-start {
  margin-top: 40px;
}

div.row.main-content {
  margin-top: 100px;
}

input.slider {
  position: relative;
  top: 2px;
  width: 50px;
  padding: 2.5px;
}

.test-area {
  background: #e1e1e1;
  padding: 25px;
}

.code-output {
  font-size: 1em;
  height: 200px;
  width: 100%;
}

span.label {
  margin: 25px 0 10px 0;
}

h4.code-header {
  padding: 0 0 20px 15px;
}

.radio-color {
  position: relative;
}

button#picker {
  position: absolute;
  right: 5px;
  bottom: 2px;
  text-align: center;
  padding: 15px 10px;
  width: 100px;
  margin: 20px 10px 0 0;
}


