/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */


.color-test {
  min-width: 400px;
  min-height: 400px;
  background: #e1e1e1;
}

.code-output {
  height: 200px;
  width: 100%;
}

span.label {
  margin: 25px 0 10px 0;
}

h4.code-header {
  padding: 20px;
}

button#boxer, button#picker {
  width: 200px;
  margin: 10px;
}